html {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Geomanist' !important;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body:before {
    top: 0;
    bottom: 0;
    content: '';
    width: 100%;
    z-index: -1;
    position: fixed;
    background: #f8f8f8;
}
